html, body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
}

.display, .buttonBox, .row, button {
    display: flex;
}

.display {
    height: 20%;
    border: 2px solid red;
    align-items: center;
    justify-content: center;
}

.calculator {
    border: 4px solid orange;
    width: 50vw;
    height: 60vh;
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.buttonBox {
    flex-direction: column;
    flex: 1;
}

.row {
    display: flex;
    flex: 1;
}

button {
    border: 1px solid black;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

